/* Adicione estilos para outras disciplinas conforme necessário */
/*  
  .disciplina-matematica {
    background-color: lightblue;
  }
  
  .disciplina-ingles {
    background-color: lightgreen;
  }
  
  .disciplina-portugues {
    background-color: lightyellow;
  }
  */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  th {
    background-color: #ccc;
  }
  
  td.disciplina {
    text-align: center;
  }
  
  /* Estilos para as cores das disciplinas */
  td.disciplina:nth-child(6n+1) {
    background-color: #fca3cc;
  }
  
  td.disciplina:nth-child(6n+2) {
    background-color: #a3a3fc;
  }
  
  td.disciplina:nth-child(6n+3) {
    background-color: #a3fca3;
  }
  
  td.disciplina:nth-child(6n+4) {
    background-color: #fcd5a3;
  }
  
  td.disciplina:nth-child(6n+5) {
    background-color: #fca366;
  }
  
  td.disciplina:nth-child(6n+6) {
    background-color: #a366a3;
  }
  
  